[submodule "nipreps-presentations"]
	path = examples/nipreps-presentations
	url = https://github.com/nipreps/presentations
[submodule "wg3-ts2026-esteban"]
	path = examples/wg3-ts2026-esteban
	url = https://github.com/indos-costaction/wg3-ts2026-esteban
[submodule "examples/wg3-ts2026-garcia"]
	path = examples/wg3-ts2026-garcia
	url = https://github.com/indos-costaction/wg3-ts2026-garcia
[submodule "examples/halfpipe-docs"]
	path = examples/halfpipe-docs
	url = https://github.com/HALFpipe/docs
[submodule "remark"]
	path = lib/remark
	url = https://github.com/oesteban/remark-engine.git
